<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="js/jquery/jquery-2.1.1.min.js"></script>
	<script src="js/seriouslyjs/seriously.js"></script>
    <script src="js/seriouslyjs/effects/seriously.noise.js"></script>
    <script src="js/seriouslyjs/effects/seriously.filmgrain.js"></script>
    <script src="js/seriouslyjs/effects/seriously.blur.js"></script>
    <script src="js/seriouslyjs/effects/seriously.chroma.js"></script>
    <script src="js/seriouslyjs/effects/seriously.hue-saturation.js"></script>
    <script src="js/seriouslyjs/effects/seriously.directionblur.js"></script>
	<script src="js/seriouslyjs/effects/seriously.freeze.js"></script>
	<script src="js/seriouslyjs/effects/seriously.tvglitch.js"></script>
	<script src="js/seriouslyjs/effects/seriously.vibrance.js"></script>
</head>
<body>