<% include header %>

  <h1>Bontempi Sorpresa</h1>

  <video id="sorpresa" width="1280" height="720" class="hidden" autoplay loop>
	<source src="video/teaser.mp4" type="video/mp4">
  	Your browser doesn't support HTML5 video...</video>
  <canvas id="canvas" width="1280" height="720"></canvas>

<% include footer %>